<h2>Brands</h2>
<br>

<h4>All brands:</h4>
<ul>
  <% @brands.each do |brand| %>
    <li> <a href="/brands/<%= brand.id %>"><%= brand.name %></a> </li>
  <% end %>
</ul>
<br>

<h4>Add a new brand:</h4>
<form action="/brands" method="post">
  <label for="name">Name of brand</label>
  <input id="name" name="name" type="text">

  <label for="price">Price of brand</label>
  <input id="price" name="price" type="text">

  <button type="submit">Add brand</button>
</form>
